{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="logginForm">
    <img src="{{ asset('build/images/items/bannierepandaClone.png') }}" alt="pandaclone Logo"/>
    <h1 class="section-title">Register</h1>
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>

    
{% endblock %}
