{% extends 'base.html.twig' %}

{% block title %}Edit Faq{% endblock %}

{% block body %}
<div class="editForm">
    <img src="{{ asset('build/images/items/GorillaBanniereBlue.png') }}" alt="GorillaCrew Logo"/>

    <h1 class="section-title">Edit Faq</h1>

    {{ include('faq/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_dashboard') }}">Back</a>
</div>
{% endblock %}
