{% extends 'base.html.twig' %}

{% block title %}Edit RoadMap{% endblock %}

{% block body %}
    <h1>Edit RoadMap</h1>

    {{ include('road_map/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_road_map_index') }}">back to list</a>

    {{ include('road_map/_delete_form.html.twig') }}
{% endblock %}
