@font-face {
    font-family: 'The Meshroom';
    src: url('../fonts/TheMeshroomRegular.eot');
    src: url('../fonts/TheMeshroomRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TheMeshroomRegular.woff2') format('woff2'),
        url('../fonts/TheMeshroomRegular.woff') format('woff'),
        url('../fonts/TheMeshroomRegular.ttf') format('truetype'),
        url('../fonts/TheMeshroomRegular.svg#TheMeshroomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
