@import "./variables.scss";

/*********************** 
 * Header              * 
 ***********************/


.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav-menu{
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0;
            
            .menu-btn {
                display: none;
            
                i {
                    font-size: 1.75rem;
                    color: white;
                    margin-left: 1rem;
                }
            }

            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.75rem;
                    font-weight: bold;
                    padding: 0.75rem 10px;
                    margin-bottom: 1rem;
    
                } 
            }   
        }
    }
}

 .navbar {
    margin-top: 1.75rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    
}

#logo-container {
    margin: 20px 0;

    img {
        width: 570px;
        height: 175px;
        border-radius: 10px;
    }
}

#menu-btn {
    width: 100px;
    height: 100px;
    font-family: 'Proxima Nova';
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 20px;
}

ul {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

#menu {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color:#fff;
    }
    
    li {
        display: inline;
        margin: 0 10px;

        i.menu-icon {
            padding: 10px;
            font-size: 2em;
            border-radius: 50px;
            color: white;
        }

        i.menu-icon:hover {
            -webkit-animation: icon3d 200ms infinite;
            animation: icon3d 200ms infinite;
        }
        a{
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}

@media screen and (max-width: 1125px) {
    .navbar {
        flex-direction: column;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 875px) {

    #logo-container {
            margin: auto;
        img {
            max-width: 460px;
            max-height: 155px;
            max-width: 100%;
            
        }
    }
    .menu-container {
        width: 95%;
        justify-content: center;
        margin-top: 0.75rem;

        .nav-menu{
            ul {
                .list-menu {
                    display: block;
                }
                li {
                    a {
                        font-size: 1.25rem;
                    }
                }
            }
        }
        .menu-sociaux {
            #menu {
                li{

                    a {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    /* ul#menu {
        flex-direction: column;

        li {
            margin-bottom: 15px;
        }
    } */
    .menu-container {
        justify-content: space-between;
        width: 95%;
        .nav-menu{
            margin-left: 0;
            
            ul {
                align-items: center;
                .menu-btn {
                    color: #fff;
                    font-size: 1.75rem;
                    margin-left: 0.25rem;
                    display: block;
                }
                .btn-close {
                    color: #fff;
                    font-size: 1.75rem;
                    margin-left: 0.25rem;
                    display: none;
                }
                .list-menu {
                    display: none;
                }
                .btn-close,
                .menu-btn {
                    margin-right: 5px;
                }
                .menu-btn {
                    margin-bottom: 2px;
                }

                li {
                    
                    a {
                        font-size: 1rem;
                        padding: 0.75rem 5px;
        
                    } 
                }   
            }
        }
        .menu-sociaux {
            margin-right: 0;
            #menu {
                li {
                    margin: auto 5px;
                }
            }
        }
    }
    .max-width-content {
        padding-bottom: 0;
    }

    .logout {
        top: -20px !important;
    }

    #menu-btn {
            margin-bottom: 10px;
    }

    #logo-container {
        img {
            max-height: 130px;
        }
    }
}

@keyframes icon3d {
    0% {
      text-shadow: 3px 2px rgba(244,67,54,1), -2px -3px rgba(33,150,243,1);
    }
    25% {
      text-shadow: -2px -3px rgba(244,67,54,1), 3px 2px rgba(33,150,243,1);
    }
    50% {
      text-shadow: 3px -2px rgba(244,67,54,1), -3px 2px rgba(33,150,243,1);
    }
    75% {
      text-shadow: -3px -2px rgba(244,67,54,1), -3px -2px rgba(33,150,243,1);
    }
    100% {
      text-shadow: -3px 0 rgba(244,67,54,1), 3px -2px rgba(33,150,243,1);
    }
}