{% extends 'base.html.twig' %}

{% block title %}Edit Description{% endblock %}

{% block body %}
<div class="editForm">
    <img src="{{ asset('build/images/items/banniereCyberClone.png') }}" alt="Cyberclone Logo"/>

    <h1 class="section-title">Edit Description</h1>

    {{ include('description/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_dashboard') }}">Back</a>
</div>
{% endblock %}
