<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/items/logoCyberclone.png') }}" sizes="30x30">
        <meta name="viewport" content="width=device-width, initial-scale=0.98">
        <script src="https://kit.fontawesome.com/9013dbbd93.js" crossorigin="anonymous"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% if is_granted('ROLE_ADMIN') %}
        <header class="logout">
            <a href="{{ path('logout') }}">Logout</a>
        </header>
            
        {% endif %}
        {% block body %}{% endblock %}
    </body>
    </html>
